* {
    margin: 0%;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}

body {
   
    background:lightgrey;
   
}
.filterDiv {
    display: none;
  }
  .show {
    display: block;
  }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
 .dd{
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    width: 50%;
    height: 400px;
    color: #ff4b2b;
    border: 1px solid #ff4b2b;
    background-attachment: cover;
    border-radius: 30px;
    margin-top: 30px;
    margin-left:100px ;
 } 
 .banner {
    right: 0;
    position: relative;
    width: 100%;
    background-size: cover;
  }
  
  .text-box {
    color: #fff;
    position: absolute;
    margin-left: 37%;
    bottom: 20%;
  }
  
  .text-box h1 {
    text-align: center;
    font-size: 130px;
    line-height: 110px;
    font-family: 'Times New Roman', Times, serif;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
  }
  @keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }

 .abt{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    height: 100vh;
 }
 .mylogo{
    margin-left: 10px;
    height: 450px;
    width: 450px;
 }
 @media screen and (max-width:900px) {
    .dd{
        font-family: 'Poppins'; height: 50vh;
        width: 80%;
        background-color: #000000;
        background-attachment: cover;
        font-size: 13px;
        border-radius: 30px;
     } 
    }


header {
   
    /* font-family: 'Poppins'; */

    width: 100%;
    background-color:#fff;
    background-attachment: cover;

}
.menum{
margin-right: 0;

}
footer
  {font-family: 'Poppins';
     height: max-content;
    width: 100%;
    background-color: #000000;
    background-attachment: cover;
}
.newbg{
    background: url(images/mybg2.jpg);
   
}

.navbar {
    top: 0;
    position: absolute;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background:hsl(0, 0%, 0%,0.7)
  
}

.navbar a {
    color: #fff;
}
.navbar a :hover {
        color: #000;
        background:#fff;
      }
.navbar .logo{
    display: flex;
    flex-direction: column;
}
.navbar .logo img {

    height: 40px;
    max-height: 40px;
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
}
.mynav .nav-link ul li {
    display: flex;
    flex-direction: column;
}

.navbar .nav-link ul {
    margin-top: 30px;
    display: flex;
}

.navbar .nav-link ul li {
    margin: 10px 25px;
}

.navbar .nav-link ul li.active a {
    color: aliceblue;
    font-weight: 600;
}
.menup ,.icons {
    display: none;
}
.close{
    display: none;
}
.mynav{
    top: 0;
    position: fixed;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background:transparent;  
}
.navlogo{
    height: 40px;
    max-height: 40px;
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
}
.iml {
    
    position: absolute;
    margin-bottom: 15px;
    margin-top: 55px;
    width: 300px;
    height: 300px;
    left: 120px;
    top: 284px;
}
.overlay{
    
    background: hsl(9, 100%, 58%,0.7);
}
.we{
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
      
}

.texts {
    position: absolute;
    width: 288px;
    height: 92px;
    left: 215px;
    top: 222px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
}

.lk {
    position: absolute;
    width: 427px;
    height: 228px;
    left: 0px;
    top: 0px;
}
.price_section .price_container .box {
    min-width: 300px;
    max-width: 400px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 35px 10px;
    padding: 45px 0 25px 0;
    text-align: center;
    background:#fff;
    -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid lightgrey ;
    border-radius: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .price_section .price_container .box .detail-box a {
    display: inline-block;
    padding: 5px 15px;
    background: #ff4b2b;
    border: 1px solid #ffffff;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;

}

.price_section .price_container .box .detail-box a:active{
    background: #fff;
    color: #ff4b2b;
    border-style: inset;
}
.price_section .price_container .box .img-box img {
    height: 130px;
    width: 200px;
}
.price_section .price_container .box1 {
    min-width: 300px;
    max-width: 400px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 35px 10px;
    padding: 19px 0 7px 0;
    text-align: center;
    background:transparent;
    -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
            transition: 0.5s;
  }
  .price_section .price_container .box1 .img-box img {
    height: 200px;
    width: 250px;
}
.price_section .price_container .box1 .detail-box h6{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: bold;
    color: #000;
    margin-top: 7px;
    cursor: pointer;
   
}
.price_section .price_container .box1:hover{
    transform: translateY(-30px);
}
.head{

    display: flex;
    margin-top: 20px;
}
.head h1{
padding: 5px;
color: #ff4b2b;
text-transform:capitalize;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 1px solid #ff4b2b;
/* background: #fff; */
font-size: 30px;
margin-left: 15px;
border-radius: 10px;
}
.price_section h1{
    text-transform: uppercase;
    font-weight: 600;
    margin: 50px;
    color: #ff4b2b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main_menu {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mybutton{
  /* background: #fff; */
  padding: 5px;
  width: 100px;
  height: 50px;
  margin-right: 20px;
}

.about_section .img-box img {
    height: 300px;
    width: 250px;
    margin: 50px auto;
}
.coffee{
    margin-left: 15px;
    height: 45px;
    width: 50px;
}
.coffee-main{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:900px) {
    .bg-img{
        width: 100%;
    }
    .navbar {
        padding: 0%;
    }

    .navbar .menup {
        display: block;
    }
    .icons{
        width: 50px;
        height: 50px;
        display: block;
    }
    .navbar .nav-link ul li {
        margin: 15px 0;
        font-size: 1em;
        top: 5px;
    }

    .texts {
        position: absolute;
        width: 118px;
        height: 92px;
        left: 215px;
        top: 222px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 60px;

        color: #000000;
    }
    .icons{
        width: 50px;
        height: 50px;
    }
     span {
        color: aliceblue;
    }
    .nav-link {
        top: 10%;
        height: 100vh;
       position: absolute;
       
        display: flex;     
        justify-content: center;
        background: hsl(9, 100%, 58%,0.7);
      
       
    }
    .cc{
        text-align: center;
        padding: 5px;
        border: solid #fff;
        border-radius: 15px;
    }
    .cc :hover{
        color: rgb(0, 0, 0);
    }
    .nav-link.menum{
        margin-right: 0;
        
        }
    .nav-link ul {
        position: fixed;
         right: -200px;
        display: flex;
        flex-direction: column;
        background: #ff4b2b;
        transition: all 0.5s ease;
    }
   .text-box h1{
    font-size: 100px;
   }
}